<%= simple_form_for @restaurant, :html=> { class: 'form' } do |f| %>
  <%= f.input :name %>
  <%= f.input :address %>
  <%= f.input :phone_number %>
  <%= f.input :category, collection: Restaurant.categories %>
  <div class="actions text-right">
    <%= f.submit "Create", class: "btn btn-primary" %>
  </div>
<% end %>
