<h1><%= @restaurant.name %></h1>
<p>address: <%= @restaurant.address %></p>
<p>phone number: <%= @restaurant.phone_number %></p>
<p>category: <%= @restaurant.category %></p>
<%= link_to 'Back', restaurants_path %>
